<div class="page-header">
  <h1><%= @upperclassman.name %> 
    <% if not @upperclassman.alumni %>
      <small>Upperclassman</small>
    <% else %>
      <small>Off-floor/Alumni/Advisory/Honorary Member</small>
    <% end %>
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody>
      <% @signatures.each do |s| %>
        <% if s[1].is_signed %>
          <tr class="success">
        <% else %>
          <tr>
        <% end %>
          <td><%= link_to "#{s[0]}", freshman_path(s[1].freshman_id) %></td>
          <% if s[1].is_signed %>
            <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
          <% else %>
            <td><span class="glyphicon glyphicon-remove"></span> No</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
    <%= @progress %>%
  </div>
</div>
