    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Packet Grid</title>

    <!-- Custom styles for this template -->
    <style>

      body {
        padding-top: 70px;
        padding-bottom: 30px;
      }

      .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
      }

      .theme-showcase > p > .btn {
        margin: 5px 0;
      }

    </style>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'CSH Packet', upperclassman_show_path(@user.id), { class: "navbar-brand" } %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'My Packet', upperclassman_show_path(@user.id) %></li>
            <li class="active"><%= link_to 'Grid', signatures_path %></li>
            <li><%= link_to 'Freshmen Packets', freshmen_index_path %></li>
            <li><%= link_to 'Upperclassmen Packets', upperclassmen_index_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Packet Grid</h1>
      </div>

      <div class="table-responsive" style="overflow-x: auto">
        <table class="table table-bordered table-hover table-condensed">

          <thead>
            <tr>
              <th></th>
              <% @upperclassmen.each do |u| %>
                <th><%= link_to "#{u.name}", upperclassman_show_path(u.id) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>

            <% @freshmen.each do |f| %>
              <tr>
                <th><%= link_to "#{f.name}", freshman_show_path(f.id) %></th>
                <% f.signatures.each do |s| %>
                  <% if s.is_signed %>
                    <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
                  <% else %>
                    <td><span class="glyphicon glyphicon-remove"></span></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div> <!-- /container -->
