<% if @current_upperclassman %>
<div class="page-header">
  <h1>Packet Grid</h1>
</div>

<% if @freshmen.length > 0 %>
<div class="table-responsive" style="overflow-x: auto">
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm active" id="upperclassmen">Upperclassmen</button>
    <button type="button" class="btn btn-default btn-sm" id="freshmen">Freshmen</button>
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th style="padding-right: 250px"></th>
        <% @freshmen.each do |f| %>
          <th><%= link_to "#{f.name}", freshman_path(f.id) %></th>
        <% end %>
      </tr>
    </thead>

    <tbody id="upperTable">
      <% @upperclassmen.each do |u| %>
        <tr>
          <th><%= link_to "#{u.name}", upperclassman_path(u.id) %></th>
          <% @freshmen.each do |f| %>
            <% if @upperclass_signatures[[u.id, f.id]] != nil %>
              <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
            <% else %>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

      <tr>
        <th>Off-floor/Alumni/Advisory/Honorary Members</th>
        <% @freshmen.each do |f| %>
          <% if f.get_alumni_signatures_count == 15 %>
            <td class="success"><span class="glyphicon glyphicon-ok"></span> 
          <% else %>
            <td><span class="glyphicon glyphicon-remove"></span> 
          <% end %>
          (<%= f.get_alumni_signatures_count %> / 15)
          </td>
        <% end %>
      </tr>

    </tbody>

    <tbody class="hidden" id="freshTable">
      <% @freshmen_on_packet.each do |fop| %>
        <tr>
          <th><%= link_to "#{fop.name}", freshman_path(fop.id) %></th>
          <% @freshmen.each do |f| %>
            <% if @freshmen_signatures[[fop.id, f.id]] != nil %>
              <td class="success"><span class="glyphicon glyphicon-ok"></span></td>  
            <% else %>
              <td><span class="glyphicon glyphicon-remove"></span></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
<% else %>
  <p>Currently no freshmen are doing the packet.</p>
<% end %>

<% elsif @current_freshman %>
<div class="page-header">
  <h1 class="text-center">Computer Science House</h1>
  <h2 class="text-center">Introductory Packet</h2>
</div>
<div class="col-md-6">
  <p>In this packet you must do the following:</p>

  <ul>
    <li>
      List the 7 house directorships
      <ul>
        <li>The responsibilities of the directorship</li>
        <li>The name of the director</li>
        <li>The weekly meeting date and time</li>
      </ul>
    </li>
    <li>List 7 annual CSH social events</li>
    <li>List 7 CSH technical achievements</li>
    <li>Obtain the e-signature of all on-floor members
    (their names are listed)</li>
    <li>Obtain the e-signature of 15 
    advisory/honorary/off-floor members</li>
  </ul>
  <br />

  <p>Please note that during the introductory process you are expected to:</p>

  <ul>
    <li>Attend all house meetings</li>
    <li>Attend at least one house directorship meeting
    each week of the process</li>
    <li>Attend at least one house social event</li>
    <li>Attend at least two house technical seminars</li>
  </ul>
  <br />

  <p>Also note that during the introductory process you are
  not allowed to vote in any house issue. However, you may
  contribute to discussion.</p>
  <br />

  <p>You will receive a CSH account upon acceptable
  completion of this packet.</p>
  <br />

  <p>You have two weeks to complete the packet from the
  time stated here:  <br /><span class="text-primary" style="font-size: 2em; 
  font-weight: bold;"><%= @current_freshman.start_date.to_formatted_s(:long_ordinal) %></span></p>
  <br />

  <p>Your name is: <span class="text-primary" style="font-size: 2em; 
  font-weight: bold;"><%= @current_freshman.name %></span></p>
</div>
<% end %>
