<div class="page-header">
  <h1 class=><%= @freshman.name %> <small>Freshman</small></h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody>
      <% @signatures.each do |s| %>
        <% if s[1].is_signed %>
          <tr class="success">
        <% else %>
          <tr>
        <% end %>
        <td><%= s[0] %></td>
        <% if s[1].is_signed %>
          <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
        <% else %>
          <td><span class="glyphicon glyphicon-remove"></span> No</td>
        <% end %>
        </tr>
      <% end %>

      <tr>
        <th>Off-floor/Alumni/Advisory/Honorary Member Name</th>
        <th>Signed?</th>
      </tr>

      <% @alumni_signatures.each_with_index do |s, index| %>
        <% if s %>
          <% if s[1].is_signed %>
            <tr class="success">
          <% else %>
            <tr>
          <% end %>
          <td><%= index + 1 %>. <%= s[0] %></td>
          <% if s[1].is_signed %>
            <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
          <% else %>
            <td><span class="glyphicon glyphicon-remove"></span> No</td>
          <% end %>
          </tr>
        <% else %>
          <tr>
            <td><%= index + 1 %>. </td>
            <td><span class="glyphicon glyphicon-remove"></span> No</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="progress">
  <div class="progress-bar <%= @progress_color %>" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
  <%= @progress %>%
  </div>
</div>

