<% content_for :title do %>
  <title><%= @freshman.name %>'s Packet</title>
<% end %>


<% content_for :navbar do %>
  <% if @user %>
    <li><%= link_to 'My Packet', upperclassman_show_path(@user.id) %></li>
  <% end %>
  <li><%= link_to 'Grid', signatures_path %></li>
  <li><%= link_to 'Freshmen Packets', freshmen_index_path %></li>
  <li><%= link_to 'Upperclassmen Packets', upperclassmen_index_path %></li>
<% end %>


<div class="page-header">
  <h1 class=><%= @freshman.name %> <small>Freshman</small></h1>
  <% if @user and not @user_signature.is_signed %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign Packet</button>
  <% elsif @user and @user_signature.is_signed%>
    <button type="button" class="btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-ok"></span> Signed</button>
  <% end %>

  <% if @admin %>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Delete Freshman</button>
  <% end %>
</div>

<% if @user and not @user_signature.is_signed %>
<%= form_for @user_signature do |f| %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        Are you sure you want to sign <span style="font-weight: bold;"><%= @freshman.name %>'s</span> Packet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Sign', {class: 'btn btn-success' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if @admin %>
<%= form_for :freshman, method: :delete do |f| %>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        Are you sure you want to <span style="font-weight: bold;">delete</span> <%= @freshman.name %>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Delete', {class: 'btn btn-danger' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>


<div class="table-responsive">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody>
      <% @signatures.each do |s| %>
        <% if s[1].is_signed %>
          <tr class="success">
        <% else %>
          <tr>
        <% end %>
        <td><%= link_to "#{s[0]}", upperclassman_show_path(s[1].upperclassman_id) %></td>
        <% if s[1].is_signed %>
          <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
        <% else %>
          <td><span class="glyphicon glyphicon-remove"></span> No</td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="progress">
  <div class="progress-bar <%= @progress_color %>" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
  <%= @progress %>%
  </div>
</div>

