<div class="page-header">
  <h1 <% if not @freshman.active %> style="color: red;"<% end %>>
    <%= @freshman.name %> <small>Freshman</small>
  </h1>
  <% if not @user_signature %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign Packet</button>
  <% else %>
    <button type="button" class="btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-ok"></span> Signed</button>
  <% end %>

  <% if not @current_freshman and @current_upperclassman.admin %>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Delete Freshman</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal3">Edit Freshman</button>
  <% end %>
</div>

<% if not @user_signature %>
<%= form_for @signature do |s| %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= s.text_field :freshman, { class: "form-control hidden", value: @freshman.id } %>
        Are you sure you want to sign <span style="font-weight: bold;"><%= @freshman.name %>'s</span> Packet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= s.submit 'Sign', {class: 'btn btn-success' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if not @current_freshman and @current_upperclassman.admin %>
<%= form_for @freshman, method: :delete do |f| %>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        Are you sure you want to <span style="font-weight: bold;">delete</span> <%= @freshman.name %>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Delete', {class: 'btn btn-danger' }%>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= form_for @freshman do |f| %>
<!-- Modal 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.text_field :name, { class: "form-control", placeholder: @freshman.name, autocomplete: "off" } %> <br />
        <%= f.label "Active" %>
        <%= f.check_box "active" %> <br />
        <%= f.label "On Packet" %>
        <%= f.check_box "on_packet" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Update', {class: 'btn btn-info' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<div class="progress">
  <div class="progress-bar <%= @progress_color %>" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
  <%= @progress %>%
  </div>
</div>

<div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Upperclassman Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody><!-- Upperclassmen -->
      <% @upperclassmen_signed.each do |u| %>
        <tr class="success">
          <td><%= link_to "#{u.name}", upperclassman_path(u.id) %></td>
          <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
        </tr>
      <% end %>

      <% @upperclassmen_unsigned.each do |u| %>
        <tr>
          <td><%= link_to "#{u.name}", upperclassman_path(u.id) %></td>
          <td><span class="glyphicon glyphicon-remove"></span> No</td>
        </tr>
      <% end %>
    </tbody>

    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>Freshman Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody><!-- Freshmen -->
      <% @freshmen_signed.each do |f| %>
        <tr class="success">
          <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
          <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
        </tr>
      <% end %>

       <% @freshmen_unsigned.each do |f| %>
        <tr>
          <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
          <td><span class="glyphicon glyphicon-remove"></span> No</td>
        </tr>
      <% end %>
    </tbody>

    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>Off-floor/Alumni/Advisory/Honorary Member Name</th>
        <th>Signed?</th>
      </tr>
    </thead>

    <tbody><!-- Alumni -->
      <% @alumni_signed.each_with_index do |s, index| %>
        <% if s %>
          <tr class="success">
            <td><%= index + 1 %>. <%= s.name %></td>
            <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
          </tr>
        <% else %>
          <tr>
            <td><%= index + 1 %>. </td>
            <td><span class="glyphicon glyphicon-remove"></span> No</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
