<div class="page-header">
  <h1>
    <%= @freshman.name %> <small>Freshman</small> 
  </h1>
  <h4>
    Started: <%= @freshman.start_date.to_formatted_s(:long_ordinal) %>
  </h4>
  <% if @current_upperclassman or @current_freshman.on_packet and @freshman.doing_packet %>
    <% if not @user_signature %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sign Packet</button>
    <% else %>
      <button type="button" class="btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-ok"></span> Signed</button>
    <% end %>
  <% end %>

  <% if not @current_freshman and @current_upperclassman.admin %>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">Delete Freshman</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal3">Edit Freshman</button>
    <%= link_to 'Freshman\'s Info', edit_freshman_path(@freshman.id), { class: "btn btn-info" } %> 
  <% end %>

  <% if @current_freshman == @freshman %>
    <% if @freshman.doing_packet %>
      <%= link_to "Edit Info", edit_freshman_path(@freshman.id), { class: "btn btn-info" } %>    
    <% end %>

    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal2">Change Password</button>
  <% end %>
</div>

<% if @current_upperclassman or @current_freshman.on_packet and @freshman.doing_packet %>
<% if not @user_signature %>
<%= form_for @signature do |s| %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= s.text_field :freshman, { class: "form-control hidden", value: @freshman.id } %>
        Are you sure you want to sign <span style="font-weight: bold;"><%= @freshman.name %>'s</span> Packet?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= s.submit 'Sign', {class: 'btn btn-success' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>

<% if not @current_freshman and @current_upperclassman.admin %>
<%= form_for @freshman, method: :delete do |f| %>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= label_tag :signatures, "Signatures" %>
        <%= radio_button_tag :freshman, "signatures", { class: 'active' } %><br />
        <%= label_tag :everything, "Everything" %>
        <%= radio_button_tag :freshman, "everything" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Delete', {class: 'btn btn-danger' }%>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= form_for @freshman do |f| %>
<!-- Modal 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.text_field :name, { class: "form-control", placeholder: @freshman.name, autocomplete: "off" } %> <br />
        <%= f.password_field :password, { class: "form-control", placeholder: "New Password", autocomplete: "off" } %> <br />
        <%= f.password_field :password_confirmation, { class: "form-control", placeholder: "Confirm New Password", autocomplete: "off" } %> <br />
        <%= f.label "Doing Packet" %>
        <%= f.check_box "doing_packet" %> <br />
        <%= f.label "On Packet" %>
        <%= f.check_box "on_packet" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Update', {class: 'btn btn-info' }%>
        <%= f.submit 'Finish Packet', { class: 'btn btn-danger' }%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% if @current_freshman == @freshman %>
<%= form_for @freshman do |f| %>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
      </div>
      <div class="modal-body">
        <%= f.password_field :password, { class: "form-control", placeholder: "New Password", autocomplete: "off" } %> <br />
        <%= f.password_field :password_confirmation, { class: "form-control", placeholder: "Confirm New Password", autocomplete: "off" } %> <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Change Password', {class: 'btn btn-primary' }%>
      </div>
    </div>
  </div>
</div>
<% end %>


<% end %>

<% if (@freshman.doing_packet and @freshman.on_packet) or (@current_upperclassman and @current_upperclassman.admin) %>
<% # if @freshman.on_packet or (@current_upperclassman and @current_upperclassman.admin) Finished packets %>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm active" id="packet">Packet</button>
    <button type="button" class="btn btn-default btn-sm" id="signatures">Signatures</button>
    <br /><br />
  </div>
<% end %>

<% if @freshman.doing_packet or (@current_upperclassman and @current_upperclassman.admin) %>
  <div id="packetTable"><!-- Packet -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
      <%= @progress %>%
      </div>
    </div>

    <div>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Upperclassman Name</th>
            <th>Signed?</th>
          </tr>
        </thead>

        <tbody><!-- Upperclassmen -->
          <% @upperclassmen_signed.each do |u| %>
            <tr class="success">
              <% if @current_upperclassman %>
                <td><%= link_to "#{u.name}", upperclassman_path(u.id) %></td>
              <% else %>
                <td><%= u.name %>
              <% end %>
              <td>
                <span class="glyphicon glyphicon-ok"></span> Yes
                <% if not @current_freshman and @current_upperclassman.admin %>
                  <%= form_for Signature.where(freshman: @freshman, signer: u).take, method: :delete do |s| %>
                    <%= s.submit 'Delete', { class: 'btn btn-xs btn-danger' }%>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% @upperclassmen_unsigned.each do |u| %>
            <tr>
              <% if @current_upperclassman %>
                <td><%= link_to "#{u.name}", upperclassman_path(u.id) %></td>
              <% else %>
                <td><%= u.name %>
              <% end %>
              <td><span class="glyphicon glyphicon-remove"></span> No</td>
            </tr>
          <% end %>
        </tbody>

        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>

          <tr>
            <th>Freshman Name</th>
            <th>Signed?</th>
          </tr>
        </thead>

        <tbody><!-- Freshmen -->
          <% @freshmen_signed.each do |f| %>
            <tr class="success">
              <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
              <td>
                <span class="glyphicon glyphicon-ok"></span> Yes
                <% if not @current_freshman and @current_upperclassman.admin %>
                  <%= form_for Signature.where(freshman: @freshman, signer: f).take, method: :delete do |s| %>
                    <%= s.submit 'Delete', { class: 'btn btn-xs btn-danger' }%>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

           <% @freshmen_unsigned.each do |f| %>
            <tr>
              <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
              <td><span class="glyphicon glyphicon-remove"></span> No</td>
            </tr>
          <% end %>
        </tbody>

        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>

          <tr>
            <th>Off-floor/Alumni/Advisory/Honorary Member Name</th>
            <th>Signed?</th>
          </tr>
        </thead>

        <tbody><!-- Alumni -->
          <% @alumni_signed.each_with_index do |a, index| %>
            <% if a %>
              <tr class="success">
                <td><%= index + 1 %>. <%= a.name %></td>
                <td>
                  <span class="glyphicon glyphicon-ok"></span> Yes
                  <% if not @current_freshman and @current_upperclassman.admin %>
                    <%= form_for Signature.where(freshman: @freshman, signer: a).take, method: :delete do |s| %>
                      <%= s.submit 'Delete', { class: 'btn btn-xs btn-danger' }%>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% else %>
              <tr>
                <td><%= index + 1 %>. </td>
                <td><span class="glyphicon glyphicon-remove"></span> No</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @freshman.on_packet or (@current_upperclassman and @current_upperclassman.admin) %>
  <% if @freshmen_length > 0 %>
  <div id="signaturesTable" <% if @freshman.doing_packet or (@current_upperclassman and @current_upperclassman.admin) %> class="hidden" <% end %>><!-- Signatures -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow=<%= @sig_progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @sig_progress %>%;">
      <%= @sig_progress %>%
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Signed?</th>
          </tr>
        </thead>

        <tbody>
          <% @signed_freshmen.each do |f| %>
            <tr class="success">
              <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
              <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
            </tr>
          <% end %>

          <% @unsigned_freshmen.each do |f| %>
            <tr>
              <td><%= link_to "#{f.name}", freshman_path(f.id) %></td>
              <td><span class="glyphicon glyphicon-remove"></span> No</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
  <p>Currently no freshmen are doing the packet.</p>
  <% end %>
<% end %>
