    <title><%= @freshman.name %>'s Packet</title>

    <!-- Custom styles for this template -->
    <style>

      body {
        padding-top: 70px;
        padding-bottom: 30px;
      }

      .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
      }

      .theme-showcase > p > .btn {
        margin: 5px 0;
      }

    </style>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'CSH Packet', signatures_index_path, { class: "navbar-brand" } %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'My Packet', upperclassman_show_path(1) %></li>
            <li><%= link_to 'Grid', signatures_index_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maybe names here? <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="page-header">
         <h1 class=><%= @freshman.name %> <small>Freshman</small></h1>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Sign Packet</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><%= @freshman.name %></h4>
          </div>
          <div class="modal-body">
            Are you sure you want to sign <span style="font-weight: bold;"><%= @freshman.name %>'s</span> Packet?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="sign.html"><button type="button" class="btn btn-primary">Sign</button></a>
          </div>
        </div>
      </div>
    </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Signed?</th>
            </tr>
          </thead>

          <tbody>
            <% @signatures.each do |s| %>
              <% if s[1].is_signed %>
                <tr class="success">
              <% else %>
                <tr>
              <% end %>
              <td><%= link_to "#{s[0]}", upperclassman_show_path(s[1].upperclassman_id) %></td>
              <% if s[1].is_signed %>
                <td><span class="glyphicon glyphicon-ok"></span> Yes</td>
              <% else %>
                <td><span class="glyphicon glyphicon-remove"></span> No</td>
              <% end %>
              </tr>
            <% end %>
            <!--<tr>
              <td><a href="upper.html">Cohen, Tal</a></td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Centra, Ben</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Eid, Julien</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Demos, Stephen</td>
              <td>YES</td>
            </tr>
            <tr>
              <td><a href="upper.html">Cohen, Tal</a></td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Centra, Ben</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Eid, Julien</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Demos, Stephen</td>
              <td>YES</td>
            </tr>
            <tr>
              <td><a href="upper.html">Cohen, Tal</a></td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Centra, Ben</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Eid, Julien</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Demos, Stephen</td>
              <td>YES</td>
            </tr>
            <tr>
              <td><a href="upper.html">Cohen, Tal</a></td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Centra, Ben</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Eid, Julien</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Demos, Stephen</td>
              <td>YES</td>
            </tr>
            <tr>
              <td><a href="upper.html">Cohen, Tal</a></td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Centra, Ben</td>
              <td>YES</td>
            </tr>
            <tr>
              <td>Eid, Julien</td>
              <td>NO</td>
            </tr>
            <tr>
              <td>Demos, Stephen</td>
              <td>YES</td>
          </tr>-->
          </tbody>
        </table>
      </div>

      <div class="progress">
          <div class="progress-bar <%= @progress_color %>" role="progressbar" aria-valuenow=<%= @progress %> aria-valuemin="0" aria-valuemax="100" style="min-width: 7%; width: <%= @progress %>%;">
          <%= @progress %>%
        </div>
      </div>


    </div> <!-- /container -->

  </body>
</html>

